$primary-color: #bce036;
$hover: #809826;
$richBlack: #495a0d;

$darkGreen: #3E453C;

$secondary-color: #818274;
$hover-secondary : #5f6057;
$light: #fff;
$dark: #000;
$light-gray: #f8f8f8;
$middle-gray: #b0b0b0;
$dark-gray: #414141;

/* Mixins Dégradés */

@mixin liGray-to-white {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

.bgDark {
  background-color: $dark-gray !important;
}