.page-template-contact {
  #contact {
    padding-top: 400px;

    .container {
      padding-bottom: 60px;

      h1 {
        text-align: left;
        color: $light;
        font-size: 3rem;
        line-height: 3.5rem;
        color: $primary-color;
        font-weight: 200;
  
        strong {
          font-weight: 700;
          color:$secondary-color;
        }
      }
    } 
  }
}
