.page-template-accueil{
  #hero-container {
    height: 90vh;
    top: 0;
    left: 0;
    overflow: hidden;

    .swiper {
      .swiper-wrapper {
        overflow: hidden;

        .swiper-slide {
          height: 90vh;
          position: relative;

          img {
            position: absolute;
            z-index: 0;
            filter: brightness(60%);
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .content {
            position: absolute;
            left: 15vw;
            top: auto;
            bottom: 5vw;
            z-index: 1;

            p {
              text-transform: uppercase;
              color: $primary-color;
              letter-spacing: 3px;
            }

            h1 {
              color: $light;
              font-family: 'Poppins',sans-serif;
              font-weight: 300;

              strong {
                font-weight: 600;
              }
            }

            .cta {
              line-height: 10rem;
              letter-spacing: 3px;
              font-size: 0.9rem;
            }
          }
        }
      }

      .swiper-pagination{
        position: absolute;
        top:-10vh;
        right: 0!important;
        gap: 10px;
        width: 90vw;
        margin:auto;
        height: 50px !important;
        display: flex !important;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: center;
        flex-direction: column;

        .swiper-pagination-bullet {
          padding: 0px 5px;
          border-radius: 0;
          width: 20px;
          height: 2px;
          text-align: center;
          font-size: 12px;
          color: $primary-color;
          opacity: 1;
          background: $primary-color;
          transition: width ease-in 300ms;
        }
        .swiper-pagination-bullet-active {
          color:#fff;
          background: $secondary-color;
          width: 60px;
        }
      }
    }
  }

  #aboutus {
    background-color: $light-gray;

    .grid {
      position: relative;
      width: 70vw;
      margin: auto;
      top: -100px;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 0px;
      height: 300px;
      margin-bottom: 250px;

      .card {
        overflow: hidden;
        height: 320px;
        padding: 40px;
        cursor: pointer;

        h4 {
          color: $light;
          position: absolute;
          z-index: 10;
          bottom: 40px;
          top: auto;
          font-size: 2rem;
          font-weight: 600;
          text-shadow: 0px 0px 10px #000000a3;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          background-color: transparent;
          transition: all ease-in-out 200ms;
          height: 400px;
          margin-left: -40px;
          margin-top: -40px;
        }

        &:hover {
          &::before {
            background-color: $hover;
          }
        }
      }
    }   
  }

  #section_nosbiens {
    padding-top: 350px;
    background: #fff;

    .whise-filter-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 1rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 100px;
 
      .input-text,
      .input-select {
           width: 15%;
           height: 40px;
           margin: 0.5rem auto;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           position: relative;
           cursor: pointer;
           
           .select-custom {
                width: 100%;
                height: 100%;

                .select2-selection--multiple {
                     background-color: white;
                     border: 1px solid #eeeef0 !important;
                     border-radius: 20px !important;
                     min-height: 40px !important;
                     max-height: 40px !important;
                     line-height: 25px;
                     overflow: scroll;

                     &::-webkit-input-placeholder,
                      &::-moz-placeholder,
                      &:-ms-input-placeholder,
                      &::-ms-input-placeholder,
                      &::placeholder{
                            font-family: 'Sofia-pro',sans-serif;
                            text-transform: uppercase;
                            letter-spacing: 3px;
                            font-size: .8rem;
                            color: #000000;
                      }

                      option{
                        font-family: 'Sofia-pro',sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: .8rem;
                        color: #000000;
                      }
                 }
           }
           
           .select-custom-lib {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                padding: 0 1rem;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background-color: white;
                border: 1px solid #eeeef0;
                border-radius: 20px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-wrap: nowrap;
                overflow: hidden;
           }
           
           .select-custom-container{
                position: absolute;
                width: calc(100% - 2px);
                top: calc(100% - 1px);
                border: 1px solid #eeeef0;
                border-top: 0px;
                background-color: white;
                display: none;
                max-height: 30vh;
                overflow-y: scroll;
           
                .auto-focus{
                     background: none;
                     border: 0;
                     font-size: 1rem;
                     width: 100%; 
                }
           
                label.hide{
                     display: none;
                }
           
                label {
                     -webkit-box-sizing: border-box;
                     box-sizing: border-box;
                     display: block;
                     width: 100%;
                     padding: 0.5rem 1rem;
                     border-top: 1px solid #eeeef0;
                     display: -webkit-box;
                     display: -ms-flexbox;
                     display: flex;
                     -webkit-box-pack: justify;
                     -ms-flex-pack: justify;
                     justify-content: space-between;
                     cursor: pointer;
           
                     input[type="checkbox"],
                     input[type="radio"] {
                          display: none;
                     }
                     
                     .input-controller{
                          display: inline-block;
                          width: 18px;
                          height: 18px;
                          border: 1px solid #2777b6;
                          border-radius: 3px;
                          text-align: center;
                          margin-right: 0.5rem;
                          color: white;
                          -webkit-transition: 300ms ease-in-out background-color;
                          transition: 300ms ease-in-out background-color;
                     }
           
                     .title {
                          width: calc(100% - 23px);
                     }
           
                     input:checked + .input-controller{
                          background-color: #2777b6;
                     }
                }
           }
           
           .buttons-container {
                text-align: center;
                margin-top: 1rem;
           }
           
           .select-custom-container.open {
                display: block;
                z-index: 5;
           }
      }
 
      input{
           display: block;
           width: 100%;
           height: 100%;
           padding: 0 1rem;
           background-color: white;
           border: 1px solid #eeeef0;
           border-radius: 20px;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           font-family: 'Sofia-pro',sans-serif;
           text-transform: uppercase;
           letter-spacing: 3px;
           font-size: .8rem;
 
           &::-webkit-input-placeholder,
           &::-moz-placeholder,
           &:-ms-input-placeholder,
           &::-ms-input-placeholder,
           &::placeholder{
                font-family: 'Sofia-pro',sans-serif;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: .8rem;
                color: #000000;
           }
      }

      .input-custom{
           width: 100%;
           height: 100%;
      }

      .select-custom-lib{
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-pack: justify;
           -ms-flex-pack: justify;
           justify-content: space-between;
           width: 100%;
           height: 100%;
           padding: 0 1rem;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           background-color: white;
           border: 1px solid #eeeef0;
           border-radius: 20px;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           text-wrap: nowrap;
           overflow: hidden;
           font-family: 'Sofia-pro',sans-serif;
           text-transform: uppercase;
           letter-spacing: 3px;
           font-size: .8rem;
      }

      .select-custom-container{
           position: absolute;
           width: calc(100% - 2px);
           top: calc(100% - 1px);
           border: 1px solid #eeeef0;
           border-top: 0px;
           background-color: white;
           display: none;
           max-height: 30vh;
           overflow-y: scroll;

           label{
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                width: 100%;
                padding: 0.5rem 1rem;
                border-top: 1px solid #eeeef0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                cursor: pointer;
                     
                .auto-focus{
                     background: none;
                     border: 0;
                     font-size: 1rem;
                     width: 100%;
                }
           }
      }

      .cta{
           border:none;
           background-color: $secondary-color;
           font-family: 'Sofia-pro',sans-serif;
           text-transform: uppercase;
           letter-spacing: 3px;
           font-size: .8rem;
      }
    }
  }

  #mot_president {
    background-color: $light;
    width: 100vw;
    animation: slide-to-top 500ms;

    .container {
      .col-d {
        h3 {
          color: $secondary-color;
          margin: 250px auto 50px auto;

          strong {
            font-weight: 700;
          }
        }
        p {
          em {
            color: $primary-color;
            text-align: right;
            font-style: italic;
          }
        }

        p:has(em) {
          text-align: right;
        }
      }
    }
  }

  #confiance {
    @include liGray-to-white;
    padding: 150px 0 250px 0;

    .container {
      text-align: center;

      h2 {
        font-weight: 200;
        color: $dark-gray;
      }

      p {
        margin: 50px auto;
        text-align: center;
        font-weight: 400;
        color: $dark-gray;
      }

      .table_qualite {
        display: flex;
        gap: 50px;
        justify-content: space-around;
        margin-bottom: 80px;

        .card_qualite {
          width: 30%;
          text-align: center;

          h4 {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: $secondary-color;
          }

          p {
            margin: 30px auto 10px auto;
            display: block;

            &::after {
              content: "→";
              color: $primary-color;
              display: block;
              margin-top: 10px;
            }
          }

          img {
            max-width: 80px;
            height: 80px;
            margin: auto;
            margin-bottom: 30px;
          }
        }

        .card_qualite + .card_qualite {
          border-left: 1px solid #eaeaea;
          padding-left: 50px;
        }
      }

    }
  }

  #disclaimer {
    position: relative;
    top: -300px;

    .container {
      width: 80vw;
      position: relative;
      margin-right: 0;
      margin-left: auto;
      height: 600px;

      img {
        max-height: 100%;
        text-align: right;
        margin-right: 0;
        margin-left: auto;
      }

      .box-content {
        position: absolute;
        top: 15%;
        background-color: $secondary-color;
        width: calc(50% - 100px);
        height: calc(70% - 100px);
        padding: 50px;

        h3 {
          color: $light;
          font-weight: 300;

          strong {
            font-weight: 700;
          }
        }

        p {
          color: $light;
          margin: 30px auto;
        }
      }
    }
  }

  #statistique {
    margin-top: -600px;
    padding-top: 500px;
    background: $light-gray;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .col-g {
        width: 60%;
        padding-top: 150px;

        .product_front {
          display: flex;
          gap: 30px;
          padding: 30px;
          background: #fff;
          box-shadow: 0px 0px 18px 2px rgb(0 0 0 / 20%);
          margin-bottom: 30px;

          img {
            width: 60px;
          }

          .txt {
            h4 {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }

      .col-d {
        width: 30%;

        .block_stats {
          padding: 30px;
          border: 1px solid $dark-gray;

          img {
            margin-left: -100px;
            position: absolute;
          }

          span {
            margin-top: 150px;
            display: block;

            p {
              text-align: left;
              color: $primary-color;
              font-size: 1.5rem;

              em {
                font-size: 1rem;
                color: $middle-gray;
              }
            }
          }
        }

        .getOffre {
          margin-top: 30px;
          background-color: $secondary-color;
          padding: 30px;

          h3 {
            color: $primary-color;
            font-size: 2rem;
            line-height: 2.3rem;

            strong {
              color: $light;
            }
          }

          p {
            color: $light;
            margin: 20px 0;
          }

          a {
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }
  }

  #disclaimer_banner {
    background-color: $light;
    min-height: 400px;
    padding-top: 350px;

    .container {
      min-height: 0px;
      display: flex;
      width: 80vw;

      position: relative;
      z-index: 2;

      .colg {
        width: 55%;
        color: $light;
        padding: 25px 40px;

        h3,
        p {
          color: $light;
          margin-bottom: 0;
        }

        h3 {
          font-size: 2.3rem;
          line-height: 2.5rem;
          margin-bottom: 10px;
        }
      }

      .cold {
        width: 50%;
        position: relative;

        .cta {
          position: absolute;
          top: calc((100% - 44px) / 2);
          left: -50px;
          z-index: 10;
        }
      }
    }
  }

  #section_nosbiens{
    padding-top: 500px;
    .container{
      h2{
        text-align: center;
        color: $primary-color;
        margin: 50px auto;

        strong{
          color: $dark-gray;
        }
      }
    }
    #estates{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      list-style: none;


      .item-estate{
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,.2);
        transition: transform ease-in-out 200ms;

        &.-center{
          position: relative;
          top: 50px;
        }

        &:hover{
          transform: scale(1.05);
        }

        a{
          color:$dark-gray;
        }

        .item-content{
          padding: 20px 10px;
          min-height: 200px;

          p{
            text-align: center;
          }

          .item-detail{
            min-height: 30px;

            ul{
              display: flex;
              gap: 10px;
              justify-content: space-around;
              list-style: none;

              li{
                margin-bottom: 0;
                display: inline-flex;
                justify-content: space-between;
                height: 20px;
                align-items: center;

                img{
                  margin-right: 15px;
                  height: 12px;
                }

                p{
                  margin:0;
                }
              }
            }
          }

          .item-peb{
            min-height: 40px;
            img{
              margin:auto;
            }
          }

          .item-price{
            .cta-estate{
              background-color: $secondary-color;
              padding: 10px 30px;
              margin:auto;
              border-radius: 30px;
              color:$light;
              display: block;
              text-align: center;
              width: 120px;
            }
          }
        }
      }
    }
  }

  #estimation{
    background: $dark-gray;
    padding: 80px 0;

    .container{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .colg{

        h3{
          text-transform: uppercase;
          font-size: 1rem;
          margin-bottom: 20px;
          letter-spacing: 7px;
          color: #fff;
        }

        h2{
          color: $primary-color;

          strong{
            color:$light;
          }
        }
      }

      .cold{
        .cta-border{
          color:$light;
          border-color: $light;
        }
      }
    }
  }

  #contact {
    background-color: $light-gray !important;
  }
}