.page-template-single-projet{
  #introduction {
    padding-bottom: 5vh;
      
    .container {
      .colg {
        position: relative;
        z-index: 10;
      
        .intro {
          margin-top: 100px;
          
          h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 1rem;
            letter-spacing: 10px;
            font-weight: 400;
          }
      
          h1 {
            font-size: 3rem;
            font-family: "Sofia-pro", sans-serif;
            color: $dark-gray;
            font-weight: 300;
            line-height: 3.5rem;
          }
        }
      }
      
      .cold {
        padding-left: 30%;
        margin: 100px 0 0 0;
      
        h2 {
          font-size: 1rem;
          color: $primary-color;
          letter-spacing: 8px;
          text-transform: uppercase;
          font-weight: 600;
      
          &::before {
            content: "→";
          }
        }
      
        a {
          color: $light;
          background-color: $secondary-color;
          font-weight: 600;
        }
      
        .intro,
        .par_cta {
          ul {
            border-left: 5px solid $primary-color;
            padding-left: 20px;
          }
      
          li {
            margin-left: 20px;
            margin-bottom: 0;
      
            ul {
              border-left: none;
              padding-left: 5px;
            }
          }
        }
      
        .cta {
          color: $light;
          font-weight: 200;
          font-size: 0.8rem;
          margin: 30px 0;
          display: inline-block;
        }
      }
    }
  }

  #slider-bottom{
    position: relative;
    z-index: 0;
  }

  #listing-biens-projet{
    background-color: $darkGreen;
    margin-top: -150px;
    position: relative;
    padding:  100px 0;

    .container{
      h2{
        color:$light;
        text-align: center;
        text-transform: uppercase;
      }

      table{
        border-collapse: collapse;
        width: 100%;
        margin-top: 50px;

        thead{
          tr{
            background-color: $secondary-color;

            th{
              padding: 30px 15px;

              p{
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0;
                color: $light;
              }
            }
          }
        }

        tbody{
          tr{
            border-bottom: 1px solid $light;

            td{
              padding: 25px;

              p{
                color: $light;
                text-align: center;
                margin-bottom: 0;
                text-transform: uppercase;
              }

              &:last-child{
                a,
                p{
                  color: $primary-color;
                  text-transform: uppercase;
                  text-align: center;
                  display: block;
                  margin: auto;
                }
              }
            }
          }
        }
      }

      .section_contact{
        text-align: center;
        
      }
    }
  }
}