.page-template-single-estate{
     header{
          background-repeat: no-repeat!important;
          background-size: cover!important;
          .container{
               position: relative;
               height: 80vh;

               h1{
                    text-align: center;
                    color: $primary-color;
                    position: absolute;
                    bottom: 370px;
                    margin: auto;
                    z-index: 10;
                    font-size: 3rem;
                    width: 100%;
                    line-height: 3rem;

                    strong{
                         color: $light;
                         font-weight: 800;
                    }
               }
          }
     }

     #slider-home{
          position: relative;
          top:-350px;

          .container{

               .swiper-wrapper{
                    width:70%
               }
          }
     }

     #detailsEstate{
          .container{
               .accordeon-content{
                    padding: 80px 0;

                    .list-table{
                         -webkit-column-count: 2;
                         -moz-column-count: 2;
                         column-count: 2;
                         -webkit-column-gap: 6vh;
                         -moz-column-gap: 6vh;
                         column-gap: 6vh;

                         .accordion{
                              display: flex;
                              justify-content: space-between;
                              padding-bottom: 15px;
                              border-bottom: 1px solid $middle-gray;
                              margin-top: 20px;
                              margin-bottom: 10px;
                              overflow: hidden;
                              transition: all ease-in-out 300ms;

                              h3{
                                   font-size: 1rem;
                                   line-height: 1.2rem;
                                   text-transform: uppercase;
                                   
                              }

                              svg{
                                   height: 30px;
                                   transform: rotate(180deg);
                                   transition: all ease-in-out 300ms;
                              }

                         }

                         .active{
                              svg{
                                   transform: rotate(0deg);
                                   transition: all ease-in-out 300ms;
                              }
                         }

                         .panel{
                              padding: 0 18px;
                              background-color: white;
                              max-height: 0;
                              overflow: hidden;
                              transition: max-height 0.2s ease-out;

                              p{
                                   margin-bottom: 0;
                                   display: flex;
                                   justify-content: space-between;
                                   color: $dark-gray;
                              }
     
                              .label{
                                   font-weight: 400;
                                   text-align: left;
                              }
                         }
                    }
               }
          }
     }

     #contact-banner{
          background: $dark-gray;
          padding: 80px 0;
      
          .container{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      
            .colg{
      
              h3{
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 20px;
                letter-spacing: 7px;
                color: #fff;
                text-align: left;
              }
      
              h2{
                color: $primary-color;
                text-align: left;
      
                strong{
                  color:$light;
                }
              }
            }
      
            .cold{
              .cta-border{
                color:$light;
                border-color: $light;
              }
            }
          }
     }

     #presentation{
          max-width: inherit;
          padding-bottom: 400px;
     }

     #image{
          min-height: 600px;
          background-size: cover!important;
     }
}