.page-template-single-estate {
  header {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    .container {
      position: relative;
      height: 80vh;
      min-height: 700px;

      h1 {
        text-align: center;
        color: $primary-color;
        position: absolute;
        bottom: 370px;
        margin: auto;
        z-index: 10;
        font-size: 3rem;
        width: 100%;
        line-height: 3rem;
        font-family: "sofia-pro", sans-serif;

        strong {
          color: $light;
          font-weight: 800;
        }
      }
    }
  }

  #slider-home {
    position: relative;
    top: -350px;

    .container {
      display: flex;
      gap: 30px;
      justify-content: space-between;

      .col-g,
      .col-d {
        display: flex;
        width: 70%;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .col-g{
        a{
          height: 450px;
          width: 100%;
        }
      }

      .col-d {
        flex-direction: column;
        width: 30%;
        gap: 30px;
        justify-content: space-between;

        a{
          height: 210px;
        }
      }

      
    }
  }

  .adress-estate{
    align-items: center;
    justify-content: center!important;
    margin: 30px auto 0;
    border-bottom: 2px solid $primary-color;

    .adress-single-estate{
      text-align: center;
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: 600;
    }
  }

  #detailsEstate {
    margin-top: -280px;

    .descr_bien {
      border-bottom: 1px solid $dark-gray;
      margin-bottom: 100px;

      p {
        margin: 50px 0;
      }
    }

    h2{
      font-weight: 400;
    }

    .container {
      .accordeon-content {
        padding: 80px 0;

        .list-table {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 6vh;
          -moz-column-gap: 6vh;
          column-gap: 6vh;

          .accordion {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            border-bottom: 1px solid $middle-gray;
            margin-top: 20px;
            margin-bottom: 10px;
            overflow: hidden;
            transition: all ease-in-out 300ms;

            h3 {
              font-size: 1rem;
              line-height: 1.2rem;
              text-transform: uppercase;
            }

            svg {
              height: 30px;
              transform: rotate(180deg);
              transition: all ease-in-out 300ms;
            }
          }

          .active {
            svg {
              transform: rotate(0deg);
              transition: all ease-in-out 300ms;
            }
          }

          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;

            p {
              margin-bottom: 0;
              display: flex;
              justify-content: space-between;
              color: $dark-gray;
            }

            .label {
              font-weight: 400;
              text-align: left;
            }
          }
        }
      }
    }
  }

  #slider-bottom {
    margin-bottom: 100px;

    .container {
      position: relative;

      .swiper-wrapper {
        .swiper-slide {
          position: relative;

          &::before{
            text-align: center;
            content: "+";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #414141;
            opacity: 0;
            color: #fff;
            font-size: 3rem;
            padding-top: calc((100% / 2) - 3.5rem);
          }

          &:hover{
            &::before{
            opacity: .8;
          }}

          a {
            max-height: 300px;
            height: 250px;
            overflow: hidden;
            display: block;

            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: -50px;
        right: auto;
        background-color: $light-gray;
        width: 40px;
        height: 40px;
        border-radius: 20px;

        &::after {
          font-size: 0.8rem;
          color: $middle-gray;
        }
      }

      .swiper-button-next {
        right: -50px;
        left: auto;
      }
    }
  }

  #contact-banner {
    background: $dark-gray;
    padding: 80px 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .colg {
        h3 {
          text-transform: uppercase;
          font-size: 1rem;
          margin-bottom: 20px;
          letter-spacing: 7px;
          color: #fff;
          text-align: left;
        }

        h2 {
          color: $primary-color;
          text-align: left;

          strong {
            color: $light;
          }
        }
      }

      .cold {
        .cta-border {
          color: $light;
          border-color: $light;
        }
      }
    }
  }

  #presentation {
    max-width: inherit;
    padding-bottom: 400px;
  }

  #image {
    min-height: 600px;
    background-size: cover !important;
    position: fixed;
  }

  #newsletter {
    padding: 80px 0;

    .container {
      h3 {
        text-transform: uppercase;
        color: $middle-gray;
        font-size: 1rem;
        letter-spacing: 10px;
        font-weight: 200;
      }

      h2 {
        color: $primary-color;

        strong {
          color: $dark-gray;
        }
      }
    }
  }
}
