.section_vosp {
  text-align: center;
  margin-bottom: 150px;
  position: relative;

  img{
    width: 240px;
    position: absolute;
    left: calc(50% - 120px);
    top: -110px;
  }

  h2 {
    color: $dark-gray;

    strong {
      font-weight: 800;
    }
  }

  h3 {
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 1rem;
  }
}
