#presentation{
  background: $light-gray;
  padding: 150px 0 0 0;
  max-height: 800px;
  
  .main-content {
  display: flex;
  gap: 50px;

    .col-g {
      h2 {
        font-weight: 300;
        color: $primary-color;

        strong {
          font-weight: 700;
          color: $dark-gray;
        }
      }

      
      .ctt_img{
        max-height: 600px;
        overflow: hidden;
        bottom: -200px;
        position: relative;


        img {
          width: 100%;
          z-index: 1;
          object-fit: cover;
        }
      }
    }

    .col-d {
      padding-top: 120px;

      .cta {
        border-radius: 25px;
        letter-spacing: 5px;
        font-size: 0.7rem;
        display: inline-block;
        margin-top: 30px;
      }
    }
  }
}