#suiveznous {
  .container {
    text-align: center;
    backdrop-filter: brightness(0.5);
    width: 80vw;
    padding: 80px 10vw;

    h2 {
      color: $light;

      em {
        color: $primary-color;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 30px;
      justify-content: center;
      margin-top: 20px;

      li {
        margin-bottom: 0;

        a {
          &::before {
            left: 0;
            top: 0;
          }

          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
